.generalDiv{
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: rgb(18, 17, 17);
}
.fathercontainer{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.container1{
    padding-left: 3rem;
    padding-top: 3rem;
    padding-right: 3rem;
    text-align: justify;

    width: 23rem;
    height: 23rem;
    background-color:#ffa300;
    margin:1rem;
    color:rgb(45, 43, 43);
    position: relative;



}
.container{
    padding-left: 3rem;
    padding-top: 3rem;
    padding-right: 3rem;
    text-align: justify;
position: relative;
    width: 23rem;
    height: 23rem;
    background-color: rgb(45, 43, 43);
    margin:1rem;
    color:white
}
.title{
    color:white;
    font-size: 3rem;
}
.title1{
    color:#ffa300;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 10rem;
    margin-bottom: 5rem;


}
.lyne{
    color:#ffa300;
    width:5%;
    height: 2px;
    border: solid 0.1rem;
    margin-right: 1rem;
}

.centrar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10rem;
}

.lineaDiv{
    width: 23rem;
    height: 0.5rem;
    background-color: rgb(248, 242, 242); 
    position: absolute;
    bottom: 0rem;
    left: 0rem;
}

.container:hover{
    .lineaDiv{       background-color: #ffa300;
    }
}