.generalDiv{
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: rgb(18, 17, 17);
}
.fathercontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    width: 22rem;
    height: 22rem;
    background-color: rgb(45, 43, 43);
    margin:1rem
}